<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >NG-Events</a>
    </div>

    <div  class="collapse navbar-collapse"  >
        
      <div id="coll" >
          <div class="drop-menu" drop-menu></div>
      <ul class="nav navbar-nav" >
        <li>
          <a [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Events</a>
        </li>
        <li><a [routerLink]="['/events/new']" routerLinkActive="active">Create Event</a></li>
        <li class="dropd own" (click)="getEvents()" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" >
            <li *ngFor="let event of events" >
              <a  [routerLink]="['/events', event.id]">{{event.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
          
             
        

        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
            <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{auth.currentUser.firstName}}</a>
          </li>
        </ul>
      </div>
      <form id="searchForm" (ngSubmit)="searchSessions(searchTerm)" class="navbar-form navbar-right"  >
        <div class="form-group">
          <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Sessions" >
        </div>
        <button class="btn btn-default" modal-trigger="searchResults">
          Search
        </button>
      </form>
      
    </div>
  </div>
  <button class="bars" (click)="toggleDiv()">
      <div class="nav-icon">
        <div></div>
      </div>
  </button>  

 
</div>
  </div>
  


<simple-modal closeOnBodyClick="true" elementId="searchResults" title="Matching Sessions">
  <div class="list-group">
    <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events', session.eventId]">{{session.name}}</a>
  </div>
</simple-modal>

<div class="caret-div"><span class="caret" style="float: right;  margin-right: 3%;" *ngIf="this.isButtonVisible" ></span></div>
<div class="drop-menu" #dropMenu *ngIf="this.isButtonVisible" >
          
  <ul class="drop-list" style="list-style-type:none;">
      <li class=""><form id="searchForm" (ngSubmit)="searchSessions(searchTerm)" class="navbar-form "  >
          <div class="form-group">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Sessions" >
          </div>
          <button class="btn btn-default" modal-trigger = "searchResults">
            Search
          </button>
        </form>
      </li>
      <div (click)="toggleDiv()">
          <li class="list-down">
            <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
            <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{auth.currentUser.firstName}}</a>
          </li>
        
    <li class="list-down"><a [routerLink]="['/events']" routerLinkActive="" [routerLinkActiveOptions]="{exact:true}">All Events</a></li>
  <li class="list-down"><a [routerLink]="['/events/new']" routerLinkActive="active">Create Event</a></li>
  <li class="list-down" (click)="getEvents()" >
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
        Events
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" >
        <li *ngFor="let event of events" >
          <a  [routerLink]="['/events', event.id]">{{event.name}}</a>
        </li>
      </ul>
    </li>
  </div>
  
 </ul>
</div>

